* {
  font-family: "Open Sans", sans-serif;
  background-color: #131415;
}

.App {
  text-align: center;
}

.header {
  color: white;
}

.header-row {
  max-width: 1140px;
  /* keep the content center */
  margin: 0 auto;
}
